<!-- <router-outlet>
</router-outlet>
<a routerLink="c1">C1</a>
<div class="container">sfds</div>
<div class="container">erdfghn</div>
<a routerLink="c2">C2</a>
<router-outlet>
</router-outlet> -->
<nav>
    <ul class="nav1">
        <li class="nav-todo"><b>TODO</b></li>
        <li class="nav2">
            <a style="color:white" (click)="openDialog()">Create</a>
        </li>
        <li class="nav2">
            <a  style="color:white" (click)="refresh()">Refresh</a>
        </li>
    </ul>
</nav>
<div class="i0">

    <div class="i1" *ngFor="let hero of data">
        <b >{{hero.title}}</b>
        <br><br>
        <h5>{{hero.description}}</h5>
        <br>
        <button class="i2" (click)="openDialog()">Done</button>
        <button class="i2" style="background-color: rgb(145, 10, 10);" (click)="delete(hero._id)">Delete</button>
    </div>
           
</div>
